.containerList {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  @media (max-width: 1000px) {
    grid-template-columns: 25% 25% 25% 25%;
  }
  @media (max-width: 750px) {
    grid-template-columns: 33% 33% 33%;
  }
  @media (max-width: 600px) {
    grid-template-columns: 50% 50%;
  }
  @media (max-width: 450px) {
    grid-template-columns: 100%;
    label {
      margin-bottom: 10px;
    }
  }
}
