@import '../../../colors';

@keyframes renderCard {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.random-drink-card__container {
  &:first-of-type {
    animation: renderCard 0.4s ease-in-out 0.2s both;
  }
  &:nth-child(2) {
    animation: renderCard 0.4s ease-in-out 0.6s both;
  }
  &:last-of-type {
    animation: renderCard 0.4s ease-in-out 1s both;
  }
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $lightRed;
  color: white;
  text-align: center;
  border: 2px solid white;
  width: 220px;
  margin: 0px 20px;
  padding: 10px;
  transition: background-color 0.2s 0.05s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: $darkRed;
  }
  img {
    width: 160px;
    align-self: center;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid white;
  }
}

.random-drink-card__title {
  font-size: 23px;
  margin-top: 20px;
}

@media (max-width: 800px) {
  .random-drink-card__container {
    min-height: 100px;
    width: 85vw;
    margin-bottom: 10px;
    justify-content: center;
    img {
      display: none;
    }
  }
  .random-drink-card__title {
    h1 {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  .random-drink-card__container {
    min-height: 70px;
    margin-bottom: 10px;
    justify-content: center;
  }
}
