@import '../../colors';
.random-drinks__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2rem;
  }
}

.random-drinks__cards-wrapper {
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.random-drinks__title {
  color: white;
  padding: 0;
  margin: 0;
  @media (max-width: 500px) {
    font-size: 1.5rem;
    padding: 0;
    margin: 10px 0px 0px;
  }
}

.random-drinks__subtitle {
  color: $lightRed;
  font-weight: normal;
  @media (max-width: 500px) {
    font-size: 1.2rem;
    margin: 20px;
  }
}

.random-drinks__button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 30%;
  @media (max-width: 850px) {
    width: 40%;
  }
  @media (max-width: 650px) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .random-drinks__cards-wrapper {
    min-height: 400px;
    flex-direction: column;
  }
}
