@import '../../colors';

@keyframes renderCard {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes unmountCard {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(200px);
  }
}

.random-drinks__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.random-drinks__cards-wrapper {
  min-height: 350px;
  display: flex;
  justify-content: center;
  a {
    &.enter:first-of-type {
      animation: renderCard 0.3s ease-in-out 0.1s both;
    }
    &.enter:nth-child(2) {
      animation: renderCard 0.3s ease-in-out 0.4s both;
    }
    &.enter:last-of-type {
      animation: renderCard 0.3s ease-in-out 0.7s both;
    }
    &.leave:first-of-type {
      animation: unmountCard 0.3s ease-in-out 0.1s both;
    }
    &.leave:nth-child(2) {
      animation: unmountCard 0.3s ease-in-out 0.4s both;
    }
    &.leave:last-of-type {
      animation: unmountCard 0.3s ease-in-out 0.7s both;
    }
  }
}

.random-drinks__title {
  color: white;
  padding: 0;
  margin: 0;
  @media (max-width: 500px) {
    font-size: 1.5rem;
    padding: 0;
    margin: 10px 0px 0px;
  }
}

.random-drinks__subtitle {
  color: $lightRed;
  font-weight: normal;
  @media (max-width: 500px) {
    font-size: 1.2rem;
    margin: 20px;
  }
}

.random-drinks__button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 30%;
  @media (max-width: 850px) {
    width: 40%;
  }
  @media (max-width: 650px) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .random-drinks__cards-wrapper {
    min-height: 400px;
    flex-direction: column;
  }
}

@keyframes renderCard {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
