@import '../../colors';
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  text-transform: uppercase;
  text-align: center;
  .wrapper {
    min-width: 500px;
    border: solid 2px white;
    padding: 30px;
    background-color: $lightRed;
    position: relative;
    form {
      position: relative;
      p {
        width: 100%;
        position: absolute;
        bottom: -50px;
        text-transform: none;
        font-size: 16px;
        color: white;
      }
    }
    div {
      position: relative;
      input,
      button {
        margin: 0px auto 20px;
      }
      span {
        text-transform: none;
        position: absolute;
        left: 45px;
        top: -16px;
        font-size: 16px;
        color: white;
      }
    }
    button:first-of-type {
      justify-content: center;
    }
    h1 {
      font-size: 46px;
      @media (max-height: 850px) {
        font-size: 32px;
      }
      @media (max-height: 750px) {
        padding: 20px 0px;
        margin: 0px;
      }
    }
  }
}
